<h1>Criar produto</h1> 
<form action="/produtos/create" method="POST"> 
    <div class="form-control"> 
        <label for="nome">Nome do produto:</label> 
        <input type="text" name="nome" placeholder="Digite o nome do produto"> 
    </div> 
    <div class="form-control"> 
        <label for="valor">Preço do produto:</label> 
        <input type="text" name="valor" placeholder="Digite o preço"> 
    </div> 
    <div class="form-control"> 
        <label for="descricao">Descrição do produto:</label> 
        <textarea name="descricao" placeholder="Descrição do produto"></textarea> 
    </div> 
    <div class="form-control"> 
        <label for="imagem">Imagem:</label> 
        <input type="text" name="imagem" placeholder="Insira a URL da imagem" /> 
    </div> 
    <input type="submit" class="btn" value="Cadastrar"> 
</form> 